/* * {
  border: 3px solid black;
} */

table {
  margin: auto;
  border-collapse: collapse;
}

td {
  width: 5vw;
  height: 5vw;
  border: 3px solid black;
}

.cell {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 30px;
  border-width: 0px;
}

h1 {
  text-align: center;
}

.bottom {
  border-bottom: 6px solid black;
}

.right {
  border-right: 6px solid black;
}

.submit {
  width: 200px;
  margin: 20px;
  padding: 5px;
  font-size: 20px;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
}

.flex-end {
  justify-content: flex-end;
}

.red {
  color: red;
}

.fileInput {
  size: 50px;
  margin: 10px;
}

.fileInputDiv {
  border: 5px solid black;
  margin: 10px;
}

.fileSubmit {
  margin: 10px;
}
